In [1]:
import json
import requests
import openpyxl
import time
import pandas as pd
import numpy as np

In [2]:
busstops = pd.read_csv('sg_busstops.csv')
busstops.tail(5)

,Unnamed: 0,BusStopCode,Description,Latitude,Longitude,RoadName
5036,5036,99139,Blk 5,1.388195,103.987234,Changi Village Rd
5037,5037,99161,Bef Changi Beach CP 3,1.390262,103.992957,Nicoll Dr
5038,5038,99171,Changi Beach CP 2,1.391128,103.991021,Nicoll Dr
5039,5039,99181,Bef S'pore Aviation Ac,1.387754,103.988503,Telok Paku Rd
5040,5040,99189,S'pore Aviation Ac,1.388414,103.989716,Telok Paku Rd

In [ ]:
busstops['planning_area'] = ''

domain = 'https://developers.onemap.sg/privateapi/popapi/getPlanningarea?token='
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjQwMzYsInVzZXJfaWQiOjQwMzYsImVtYWlsIjoibXlsZWUuMjAxOEBtaXRiLnNtdS5lZHUuc2ciLCJmb3JldmVyIjpmYWxzZSwiaXNzIjoiaHR0cDpcL1wvb20yLmRmZS5vbmVtYXAuc2dcL2FwaVwvdjJcL3VzZXJcL3Nlc3Npb24iLCJpYXQiOjE1ODM2MzQxMDQsImV4cCI6MTU4NDA2NjEwNCwibmJmIjoxNTgzNjM0MTA0LCJqdGkiOiI1ZTBmZWIzNjNhOTUxNzlhOGQwYzczMmI4ZTZkMGQ1OSJ9.CpxVe9nNQ3bkO-JNJVgkR19c2TrGian82JsGLOgfoGM'
incl_lat = '&lat='
incl_long = '&lng='

for index,row in busstops.iterrows():
    
    if index %100 ==0:
        print(index)
    
    #print(index)
    
    lat = str(row['Latitude'])
    long = str(row['Longitude'])
    
    query_string = domain+token+incl_lat+lat+incl_long+long
    print(query_string)

    try:
        resp = requests.get(query_string, timeout=15)
        extract=json.loads(resp.content)
        print(extract)

        busstops['planning_area'][index] = extract[0]['pln_area_n']
        
    except:
        #busstops['planning_area'][index] = 'invalid'

busstops.tail(10)

In [ ]:
busstops.to_csv('sg_busstops_with_planning_area.csv')